@model List<BasketVM>
@{ 

    ViewData["Title"] = "ShowItem";

 }


 
<div style="position:relative">
    <div style="position:absolute">
        @if (TempData["success"] != null)
        {
<div class="alert alert-success  sale">
    @TempData["success"]
</div>}
        @if (TempData["failCount"] != null)
        {
<div class="alert alert-danger sale">
    @TempData["failCount"]
</div>}
        @if (TempData["fail"] != null)
        {
<div class="alert alert-danger sale">
    @TempData["fail"]
</div>}
    </div>
</div>



<!-- start page title section -->
<section class="page-title-section " he data-overlay-dark="7" data-background="img/bg/page-title.jpg" style="padding:0 !important;">
    <div class="container " style="margin-top:25px;">
        <div class="row">
        <div class="col-md-2">
        </div>
            <div class="col-md-12">
             <ul>
               <li><a  asp-controller="Home" asp-action="Index" >Home</a></li>
               <li><a href="javascript:void(0)" style="height:10%">Shop Cart</a></li>
             </ul>
         </div>
         </div>
    </div>
</section>
<!-- end page title section -->





<!-- start cart table section -->
<section style="padding:0!important;">
    <div class="container lg-container">

        <div class="row">

            <!-- start product table -->
            <div class="col-12 shop-cart-table">
                <table class="table shop-cart text-center">
                    <colgroup>
                        <col class="width-100px">
                        <col>
                        <col class="width-1px">
                        <col>
                        <col class="width-120px">
                        <col class="width-1px">
                    </colgroup>

                    <thead>
                        <tr>
                            <th class="first"></th>
                            <th class="text-left text-uppercase font-weight-500">Product</th>
                            <th class="text-left text-uppercase font-weight-500">Price</th>
                            <th class="text-center text-uppercase font-weight-500">Qty</th>
                            <th class="text-left text-uppercase font-weight-500">Sub Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                    <tr>
                        <td class="product-thumbnail text-left">
                            <a class="display-inline-block width-70px"><img src="~/assets/img/shop/@item.ImageUrl" alt="" class="width-70px" /></a>
                        </td>
                        <td class="text-left">
                            <a href="single-product.html">@item.Name</a>
                            <span class="text-uppercase display-block">SKU: 190397</span>
                        </td>
                        <td class="text-left">
                            <span class="price">€@item.Price</span>
                        </td>
                        <td class="product-quantity">
                           <a data-id="@item.Id" class="sub btn btn-default minusitem"><i class="fa-solid fa-minus"></i></a>
                            <span>@item.ProductCount</span>
                            <a data-Id="@item.Id" class="add btn btn-default plusitem"><i class="fa-solid fa-plus"></i></a>
                        </td>   


                        <td>
                            <div class="product-total text-left">
                                <span  class="total-amount">$@(item.Price*item.ProductCount)</span>
                            </div>
                        </td>


                        <td class="product-remove text-center">
                            <div class="product-delete">
                                <a asp-controller="basket" asp-route-id="@item.Id" asp-action="removeItem"><i class="fa-solid fa-trash"></i></a>
                            </div>
                            
                        </td>
                    </tr> 
                         }
                    </tbody>
                </table>
            </div>
            <!-- end product table -->
            <!-- start button set -->
            @*<div class="col-12 border-bottom border-top padding-40px-tb sm-padding-20px-tb sm-margin-20px-bottom xs-margin-15px-bottom">
                
                <div class=""butn small margin-5px-bottom" href="javascript:void(0)"><span>Empty Cart</span>">
                    <a asp-controller="basket" asp-route-id="@item.Id" asp-action="removeItem"><i class="fal fa-trash-alt"></i></a>
                </div>
                <a class="butn small float-right margin-30px-left margin-5px-bottom" href="shop-product-grid.html"><span>Continue Shopping</span></a>
                <a class="butn small secondary float-right" href="javascript:void(0)"><span>Update Shopping Cart</span></a>
            </div>*@
            <!-- end button set -->
            <!-- start total block set -->
            <div class="col-12 cart-total padding-40px-top sm-padding-20px-tb">
                <div class="row">

                    <div class="col-lg-5 col-md-5 xs-margin-30px-bottom">
                        <div class="accordion" id="accordionOne">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Coupon Code
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                                    <div class="card-body">
                                        <form action="#">
                                            <input type="text" placeholder="Enter Your Coupon code">
                                            <a class="butn small" href="javascript:void(0)"><span>Apply Code</span></a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Calculate Shipping



                                        </button>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-2 col-md-6 offset-lg-0">
                        <table class="table cart-sub-total">
                            <tbody>
                                <tr>
                                    <th class="text-right no-padding-right text-uppercase">Cart Subtotal</th>
                                    <td class="text-uppercase text-right no-padding-right"><span id="product-total-price"> $@Model.Sum(p => p.Price * p.ProductCount)</span> </td>

                                </tr>
                                <tr>
                                    <th class="text-right no-padding-right text-uppercase">Shipping and Handling</th>
                                    <td class="text-uppercase text-right no-padding-right">$3</td>
                                </tr>
                                <tr>
                                    <td class="no-padding-right xs-no-padding" colspan="2">
                                        <hr>
                                    </td>
                                </tr>
                                <tr class="total">
                                    <th class="text-uppercase text-right no-padding-right xs-no-padding">Order Total</th>
                                    <td class="text-uppercase text-right no-padding-right xs-no-padding">
                                        @if (@Model.Sum(p => p.Price * p.ProductCount) / 100 > 3)
                                        {
                            <span>$<span id="totalSumPlus3">@(Model.Sum(p=>p.Price*p.ProductCount)+(Model.Sum(p=>p.Price*p.ProductCount)/100))</span></span> }

                                        else
                                        {
                            <span>$<span id="totalSumPlusMax">@(Model.Sum(p=>p.Price*p.ProductCount)+3)</span></span>}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="no-padding-right xs-no-padding" colspan="2">
                                        <hr class="no-margin-bottom">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a class="butn medium secondary float-right" asp-action="index" asp-controller="order"><span>Proceed to Checkout</span></a>
                    </div>
                </div>
            </div>
            <!-- end total block set -->
        </div>
    </div>
</section>
<!-- end cart table section -->