@model List<Order>
@{ ViewData["Title"] = "Create";
                Layout = "~/Areas/AdminPanel/Views/_AdminLayout.cshtml"; 
    }
<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="mb-2 page-title" style="text-align :center">All Orders</h2>
                <div class="row my-4">
                    <!-- Small table -->
                    <div class="col-md-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <!-- table -->
                                <table class="table datatables" id="dataTable-1">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Client</th>
                                            <th>Phone</th>
                                            <th>Adress</th>
                                            <th>Location</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.FirstName @item.FirstName</td>
                                <td>@item.Phone</td>
                                <td>@item.Address</td>
                                <td>@item.Country / @item.City</td>
                                <td>@item.TotalPrice</td>
                                @switch (item.OrderStatus)
                                {
                                    case OrderStatus.Pending:
                <td><span>Pending</span></td>
 break;
            case OrderStatus.Shipped:
<td><span>Shipped</span></td>
break;
}

                            </tr>
}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- simple table -->
                </div> <!-- end section -->
            </div> <!-- .col-12 -->
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
</main> <!-- main -->